<p>
  <br />
  <img style="width: 300px;" src="https://scontent.fcnx1-1.fna.fbcdn.net/v/t1.6435-9/47679673_1348996221908991_4722512053158281216_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=8bfeb9&_nc_eui2=AeFGp1M9r0B2WSEkEsm6eS-752r3zw7dt67navfPDt23rsrQ6qvoXKYtF7Q_VBd6keUmXnSYc8ofNlTuc7L6gE1l&_nc_ohc=UkXkL5nXmEgAX9_7e13&_nc_ht=scontent.fcnx1-1.fna&oh=082c89dbdbc87eb75934c6805dad29bc&oe=60BBA41C" alt=""><br>
  <br /> <br />
  Hello. My name is Kittisak Nanchom. I am 22 years old. <br>I live in a small town in Nan Province.<br>
  I am 178 cm tall and weigh 53 kg.
  <br>  I have black brown hair and black eyes.
  <br>My mother said I have a sweet smile that melts your heart.<br>  I have a lot of friends.<br> My best friend is Nat.<br>My hometown is Uttaradit. <br>I intend to come to study in Nan Because Nan city has beautiful nature, <br>the weather is very good But sometimes,<br> I miss my home, my mom, my dad, and my sisters,<br>  and it makes me realize that being alone gives us strength and determination for the future.
  <br /> <br />
</p>
