<p>

  "Microsoft Word (Intermediate - Have experience in printing various documents)<br>
  Microsoft Excel (Intermediate – Experienced in using pivot table and mathematical functions to analyze a set of data)<br>
<br/>
-Social: Team player, Adaptability, Take feedback, Conflict resolution <br>
-Communications: Effective listening, Business writing, Public speaking, Presentation, Negotiation, Persuasion <br>
-Management: Leadership, Time management, Project management, Problem-solving, Result-orientedbr <br>

  </p>
